In [1]:
'''
seaborn의 타이타닉 데이터를 불러오자
'''

'\nseaborn의 타이타닉 데이터를 불러오자\n'

In [ ]:
'''
테이터프레임 구조 확인
'''

In [ ]:
'''
이때 info()를 통해 어느 데이터에 누락 데이터가 많은지를 확인하자.
문제가 있는지 확인을 해야한다.
그 열이 가진 고유값을 확인해 보자.
value_counts로 확인을 하자. 이때 NaN을 포함시켜야한다.
'''

In [ ]:
# 1단계_누락 데이터 처리
'''
for 반복문으로 각 열의 NaN 개수 계산하기
'''

In [ ]:
# 2단계_누락 데이터 제거
'''
# NaN 값이 500개 이상인 열을 모두 삭제
'''

In [ ]:
'''
# age 열에 나이 데이터가 없는 모든 행을 삭제 
'''

In [ ]:
# 2단계_누락 데이터 치환
'''
age 열의 첫 10개 데이터 출력 (5 행에 NaN 값)
'''

In [ ]:
'''
age 열의 NaN값을 다른 나이 데이터의 평균으로 변경하기
+ 중간값으로 변경해보기
+ 최빈값으로 변경해보기
'''

In [ ]:
'''
CASE 1 
embark_town 열의 829행의 NaN 데이터 출력
'''

In [ ]:
'''
mbark_town 열의 NaN값을 승선도시 중에서 가장 많이 출현한 값으로 치환하기
'''

In [ ]:
'''
embark_town 열 829행의 NaN 데이터 출력 (NaN 값이 most_freq 값으로 대체)
'''

In [ ]:
'''
CASE 2
embark_town 열의 NaN값을 바로 앞에 있는 828행의 값으로 변경하기
'''

In [ ]:
'''
age 열의 첫 10개 데이터 출력 (5 행에 NaN 값이 평균으로 대체)

'''

## 실습

In [ ]:
# 라이브러리 불러오기
import pandas as pd

# 중복 데이터를 갖는 데이터프레임 만들기
df = pd.DataFrame({'c1':['a', 'a', 'b', 'a', 'b'],
                  'c2':[1, 1, 1, 2, 2],
                  'c3':[1, 1, 2, 2, 2]})

In [ ]:
'''
데이터프레임 전체 행 데이터 중에서 중복값 찾기
'''

In [ ]:
'''
데이터프레임의 특정 열 데이터에서 중복값 찾기
'''

In [ ]:
'''
데이터프레임에서 중복 행을 제거
'''

In [ ]:
'''
c2, c3열을 기준으로 중복 행을 제거
'''